body {
    margin: 0;
}

.icon-menu-link {
    /* Default styles has Icon menu offseting title */
    min-width: 0 !important;
}

section[role="region"] > header:first-child h1 {
    margin-right: 1.5em;
}

section[data-type="list"] {
    position: absolute;
    top: 5rem;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: calc(100% - 5rem);
    overflow-y: scroll;
}
