html {
    font-size: 10px;
}

body {
    font-size: 1.9rem; // normal
    margin: 0;
}

#app, #index {
    height: 100%;
}

.icon-back-link {
    /* Default styles has Icon menu offseting title */
    min-width: 0 !important;
}

.icon-menu {
    float: right;
}

/*
.header-title {
    display: inline;
}
*/

section[role="region"] > header:first-child h1 {
    margin-right: 1.5em;
}

section[data-type="list"] {
    width: 100%;
    overflow-y: scroll !important;
    height: calc(100% - 8rem);
    background-color: white;
}

section[role="region"] > header:first-child h1 {
    text-align: left;
}
[data-type="list"] ul {
    padding-left: 0;
    padding-bottom: 2rem;
}

section[role="region"] > header.fixed:first-child {
    position: relative;
}

input {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.7rem; // p.alt
}

input[type="checkbox"] {
    width: auto;
}

ul > li.video-item > a,
ul > li.article-item > a {
    margin-top: -2px;
}


ul li div.subway-icon {
    display: block;
    position: absolute;
    height: 100%;
}


ul li div.subway-icon div {
    height: 25px;
    width: 25px;
    background-size: 25px 75px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 8px;
    margin-top: -12px;
    z-index: 20;
}

ul li div.subway-icon div.video-node {
    background-image: url('/img/progress-icons/subway-sprites-video-default.svg');
}
ul li div.subway-icon div.article-node {
    background-image: url('/img/progress-icons/subway-sprites-article-default.svg');
}

div.color-block {
    float: left;
    width: 12px;
    height: 100%;
    background-color: #3C5466;
}

header.topic-header {
    background-color: #3C5466 !important;
}

/**
 * New and noteworthy x29232c6b (we don't show this on purpose)
 */

/**
 * Math "x7a488390"
 */
ul li div.subway-icon.x7a488390 div.video-node {
    background-image: url('/img/progress-icons/subway-sprites-video-math.svg');
}

ul li div.subway-icon.x7a488390 div.article-node {
    background-image: url('/img/progress-icons/subway-sprites-article-math.svg');
}

ul li div.subway-icon.x7a488390 div.pipe.completed,
ul li div.subway-icon.x7a488390 div.pipe.in-progress {
    background-color: #3daccc;
}

[data-type="list"] li.x7a488390 > a:active:after {
    background-color: #3daccc;
    opacity: 0.3;
}

ul li.x7a488390 div.color-block, header.topic-header.x7a488390 {
  background-color: #156278 !important;
}

/**
 * Science "xb92336a2"
 */
ul li div.subway-icon.xb92336a2 div.video-node {
    background-image: url('/img/progress-icons/subway-sprites-video-science.svg');
}

ul li div.subway-icon.xb92336a2 div.article-node {
    background-image: url('/img/progress-icons/subway-sprites-article-science.svg');
}

ul li div.subway-icon.xb92336a2 div.pipe.completed,
ul li div.subway-icon.xb92336a2 div.pipe.in-progress {
    background-color: #b8475f;
}

[data-type="list"] li.xb92336a2 > a:active:after {
    background-color: #b8475f;
    opacity: 0.3;
}
ul li.xb92336a2 div.color-block, header.topic-header.xb92336a2 {
  background-color: #822F3D !important;
}

/**
 * Economics and finance "x5ca94af1"
 */
ul li div.subway-icon.x5ca94af1 div.video-node {
    background-image: url('/img/progress-icons/subway-sprites-video-economics.svg');
}

ul li div.subway-icon.x5ca94af1 div.article-node {
    background-image: url('/img/progress-icons/subway-sprites-article-economics.svg');
}

ul li div.subway-icon.x5ca94af1 div.pipe.completed,
ul li div.subway-icon.x5ca94af1 div.pipe.in-progress {
    background-color: #ec9d46;
}

[data-type="list"] li.x5ca94af1 > a:active:after {
    background-color: #ec9d46;
    opacity: 0.3;
}

ul li.x5ca94af1 div.color-block, header.topic-header.x5ca94af1 {
  background-color: #BB7B31 !important;
}

/**
 * Arts and humanities "x905db83d"
 */
ul li div.subway-icon.x905db83d div.video-node {
    background-image: url('/img/progress-icons/subway-sprites-video-humanities.svg');
}
ul li div.subway-icon.x905db83d div.article-node {
    background-image: url('/img/progress-icons/subway-sprites-article-humanities.svg');
}
ul li div.subway-icon.x905db83d div.pipe.completed,
ul li div.subway-icon.x905db83d div.pipe.in-progress {
    background-color: #fb483f;
}

[data-type="list"] li.x905db83d > a:active:after {
    background-color: #fb483f;
    opacity: 0.3;
}

ul li.x905db83d div.color-block, header.topic-header.x905db83d {
  background-color: #C43931 !important;
}

/**
 * Computing "x45aed616"
 */
ul li div.subway-icon.x45aed616 div.video-node {
    background-image: url('/img/progress-icons/subway-sprites-video-cs.svg');
}

ul li div.subway-icon.x45aed616 div.article-node {
    background-image: url('/img/progress-icons/subway-sprites-article-cs.svg');
}

ul li div.subway-icon.x45aed616 div.pipe.completed,
ul li div.subway-icon.x45aed616 div.pipe.in-progress {
    background-color: #70b950;
}

[data-type="list"] li.x45aed616 > a:active:after {
    background-color: #70b950;
    opacity: 0.3;
}

ul li.x45aed616 div.color-block, header.topic-header.x45aed616 {
  background-color: #568F3D !important;
}

/**
 * Test Prep "x7626d097"
 */
ul li div.subway-icon.x7626d097 div.video-node {
    background-image: url('/img/progress-icons/subway-sprites-video-testPrep.svg');
}

ul li div.subway-icon.x7626d097 div.article-node {
    background-image: url('/img/progress-icons/subway-sprites-article-testPrep.svg');
}

ul li div.subway-icon.x7626d097 div.pipe.completed,
ul li div.subway-icon.x7626d097 div.pipe.in-progress {
    background-color: #88599e;
}

[data-type="list"] li.x7626d097 > a:active:after {
    background-color: #88599e;
    opacity: 0.3;
}

ul li.x7626d097 div.color-block, header.topic-header.x7626d097 {
  background-color: #512D60 !important;
}

/**
 * Partner content: "x54390c7e"
 */
ul li div.subway-icon.x54390c7e div.video-node {
    background-image: url('/img/progress-icons/subway-sprites-video-partnerContent.svg');
}

ul li div.subway-icon.x54390c7e div.article-node {
    background-image: url('/img/progress-icons/subway-sprites-article-partnerContent.svg');
}

ul li div.subway-icon.x54390c7e div.pipe.completed,
ul li div.subway-icon.x54390c7e div.pipe.in-progress {
    background-color: #4ac9a3;
}

[data-type="list"] li.x54390c7e > a:active:after {
    background-color: #4ac9a3;
    opacity: 0.3;

}
ul li.x54390c7e div.color-block, header.topic-header.x54390c7e {
  background-color: #399B7C !important;
}

/**
 * Talks and interviews "xd1039e22"
 */
ul li div.subway-icon.xd1039e22 div.video-node {
    background-image: url('/img/progress-icons/subway-sprites-video-default.svg');
}

ul li div.subway-icon.xd1039e22 div.article-node {
    background-image: url('/img/progress-icons/subway-sprites-article-default.svg');
}

ul li div.subway-icon.xd1039e22 div.pipe.completed,
ul li div.subway-icon.xd1039e22 div.pipe.in-progress {
    background-color: #577996;
}

[data-type="list"] li.xd1039e22 > a:active:after {
    background-color: #577996;
    opacity: 0.3;
}

ul li.xd1039e22 div.color-block, header.topic-header.xd1039e22 {
  background-color: #3C5466 !important;
}

/**
 * Coach and classroom resources "x6a4a5e33"
 */
ul li div.subway-icon.x6a4a5e33 div.video-node {
    background-image: url('/img/progress-icons/subway-sprites-video-default.svg');
}

ul li div.subway-icon.x6a4a5e33 div.article-node {
    background-image: url('/img/progress-icons/subway-sprites-article-default.svg');
}

ul li div.subway-icon.x6a4a5e33 div.pipe.completed,
ul li div.subway-icon.x6a4a5e33 div.pipe.in-progress {
    background-color: #577996;
}

[data-type="list"] li.x6a4a5e33 > a:active:after {
    background-color: #577996;
    opacity: 0.3;
}

ul li.x6a4a5e33 div.color-block, header.topic-header.x6a4a5e33 {
  background-color: #3C5466;
}

/**
 * Subway icon stuff
 */

ul li div.subway-icon div.video-node.completed,
ul li div.subway-icon div.article-node.completed {
    background-position: 50% 100%;
}

ul li div.subway-icon div.video-node.in-progress,
ul li div.subway-icon div.article-node.in-progress {
    background-position: 0% 50%;
}

ul li:first-child div div.pipe {
    height: 50%;
    top: auto;
}

ul li:last-child div div.pipe {
    height: 50%;
}

ul li:last-child:first-child div div.pipe {
    display: none;
}

ul li div div.pipe {
    background-color: #cdcdcd;
    position: absolute;
    right: auto;
    left: 18px;
    width: 4px;
    z-index: 10;
    bottom: -1px;
    height: 100%;
    top: 0;
}

ul li div div.pipe.completed,
ul li div div.pipe.in-progress {
    background-color: #3daccc;
}

ul li a p.video-title, ul li a p.article-title {
    padding-left: 45px !important;
}


video, .video-placeholder {
    width: 100%;
    max-height: 50%;
}

.transcript {
    max-height: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: scroll !important;
    width: 100%;
    box-sizing: border-box;¬
}

.transcript li {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-bottom: solid 0.1rem #e7e7e7;
    color: rgb(51, 51, 51);
    font-size: 1.3rem; // p.micro
}

.transcript li > span:first-child {
    width: 3rem;
    margin-right: 0.5rem;
}

article {
    overflow-y: scroll !important;
    overflow-x: scroll !important;
    position: absolute;
    height: calc(100% - 8rem);
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% - 2rem);
}

.profile, .downloads, .settings {
    margin-left: 1rem;
    margin-top: 1rem;
}

.profile {
    overflow-y: scroll;
    height: calc(100% - 8rem);
}

.sidebar .hot-item {
    font-weight: bold;
}

.sidebar li {
    text-transform: capitalize;
}

.profile .badge-category-icon {
    width: 4rem;
    height: 4rem;
    display: block;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: -2rem auto 0;
}

.profile .avatar {
    width: 200px;
    height: 200px;
}

.profile .badge-category-count {
    background: #eee;
    border-radius: 5px;
    color: #999;
    font-size: 2rem;
    height: 5rem;
    padding-top: 15px;
    position: relative;
    text-align: center;
}

.profile span.span2 {
    width: 4rem;
    display: inline-block;
    margin-right: 0.5rem;
}

.transcript a {
    text-decoration: none;
    color: black;
}

.transcript-item div {
    display: inline;
}

.transcript-item div:first-child {
    color: #999;
    margin-right: 0.6rem;
}

.topic-list-container {
    height: 100% !important;
}

.energy-points {
    display: inline;
    background: #005a88;
    font-size: 1.3rem; // p.micro
    text-align: center;
    padding: 2px 5px 3px;
    color: white;
    font-family: 'Proxima Nova',sans-serif;
    text-shadow: none;
    border-radius: 5px;
}

.username, .points-header, .energy-points.energy-points-profile {
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

label.pack-switch {
    margin-left: 1em;
}

li.faded p.topic-title,
li.faded p.video-title,
li.faded p.article-title {
    color: #ccc;
}

.video-info-bar {
}

.pull-right {
    float: right;
    margin-right: 1rem;
}

.video-viewer-container {
    height: 100%;
}

.status-bar {
    background-color: #363F48;
    border-top: 2px solid #EEE;
    bottom: 0;
    color: #FFF;
    font-size: 1.5rem; // p.small
    opacity: 0.8;
    padding: 1.5em;
    position: absolute;
    width: calc(100% - 3rem);
    z-index: 100;
}


section[data-type="sidebar"] > nav > ul > li > a {
    border-bottom: 0.15rem solid #596068;
}

section[role="region"] > header:first-child h1 {
    font-size: 2.5rem;
}
